.body-header{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: Circular Std;
    align-items: center;
    font-size:18px;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 407px;
}
p{
    font-size: 18px;
}
.body-header button{
    font-size: 18px;
    border-color: #00B6F0;
    width: 148px;
    border-radius: 85px;
    height: 52px;
    background-color: white;
    color: #00B6F0;
}