.body-pricing{
    background:#182333;
    color: #FFFFFF;
    font-family: Circular Std;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 100px;
    align-items: center;
}
.primeiro-paragrafo{
    width: 437px;
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.primeiro-paragrafo h1{
    font-size: 56px;
}

.texto{
    font-size: 18px;
}

.promocao{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
h2{
    font-size: 18px;
}

.promocao div{
display: flex;
flex-direction: row;
align-items: center;
padding-top: 10px;
padding-bottom: 10px;
}

div span{
    font-size: 72px;
    color: #F3CD03;
}
div p{
    font-size: 24px;
}